<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GEDOPLAN - Angular Testing</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-lg-12">
    <h1 class="page-header">Benutzerliste
      <p class="small" *ngIf="selectedUserId">(Benutzer selektiert: {{selectedUserId}})</p>
    </h1>
  </div>
  <div class="row">
    <form>
      <div class="col-sm-2 col-md-1">
        <input [(ngModel)]="showMaxUserCount" class="form-control" placeholder="anzahl" name="maxUser">
      </div>
      <div class="col-sm-2 col-md-1">
        <button class="btn btn-primary" (click)="loadUser()" name="loadBtn">lade Benutzer</button>
      </div>
    </form>
  </div>

  <app-user-list [users]='users' (onSelect)='selectUser($event)'></app-user-list>
</div>